node_modules
# Keep environment variables out of version control

/src/generated/prisma
/dist

.projects/cache
.projects/vault
.projects/state.test.json
.projects/state.local.test.json
.env
.env.*
!.env.example
